<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="background-color: #ffffff; border-width: 0px;border-radius: 0px; width: 100%;">
            <div class="container" style="height: 60px; padding:0%; ">
                <div id="navbar" class="collapse navbar-collapse" style="padding:0%; ">
                    <div class="navbar-header">
                        <a><img src="bx_user-circle.png" width="50" height="50" style="margin-top: 5px;"></img></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a
                            style="color: #4E6D79; font-size: 20pt; font-weight: bold; margin-top: 5px"
                            th:href="@{/inicio/}">Nombre Nombre2 Apellido Apellido2</a>
                        </li>
                    </ul>
                    <div class="navbar-right">
                        <a><img src="bx_exit.png" width="50" height="50" style="margin-top: 5px;"></img></a>
                    </div>
                </div> 
            </div>
            <div class="container" style="height: 5px; background-color: #4E6D79; margin:0%; padding:0%; width: 100%;"></div>
        </nav>
    </body>
</html>