<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <link href="http://fonts.cdnfonts.com/css/lexend-deca" rel="stylesheet">
        <link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
        <link href="general.css" rel="stylesheet" id="bootstrap-css"></link>
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="background-color: #ffffff; border-width: 0px;border-radius: 0px; width: 100%;">
            <div class="container" style="height: 60px; padding:0%; ">
                <div id="navbar" class="collapse navbar-collapse" style="padding:0%; ">
                    <div class="navbar-header">
                        <a><img src="bx_user-circle.png" width="50" height="50" style="margin-top: 5px;"></img></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a
                            style="color: #4E6D79; font-size: 20pt; font-weight: bold; margin-top: 5px"
                            th:href="@{/inicio/}">Administrador</a>
                        </li>
                    </ul>
                    <div class="navbar-right">
                        <a><img src="bx_exit.png" width="50" height="50" style="margin-top: 5px;"></img></a>
                    </div>
                </div> 
            </div>
            <div class="container" style="height: 5px; background-color: #4E6D79; margin:0%; padding:0%; width: 100%;"></div>
        </nav>
        <div class="container cont1" style="margin-top: 1%;">
            <div class="row center">
                <div class="form-group row">
                    <h1 style="margin-bottom: 3%;">¿Qué acción deseas realizar?</h1>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="alumnos.png" >
                        </button>  
                        <h3 class="txtcirculos">Alumnos</h3>        
                    </div>
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="carreras.png" >
                        </button>         
                        <h3 class="txtcirculos">Carreras</h3>        
                    </div>
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="cursos.png" >
                        </button>  
                        <h3 class="txtcirculos">Cursos</h3>        
                    </div>
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="docentes.png" >
                        </button>         
                        <h3 class="txtcirculos">Docentes</h3>        
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="horarios.png" style="margin-left: 10%;" >
                        </button>  
                        <h3 class="txtcirculos">Horarios</h3>        
                    </div>
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="matriculas.png" style="margin-left: 10%;">
                        </button>         
                        <h3 class="txtcirculos">Matrículas</h3>        
                    </div>
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="secciones.png" >
                        </button>  
                        <h3 class="txtcirculos">Secciones</h3>        
                    </div>
                    <div class="col-sm-6 coladmin">
                        <button type="submit" class="btn btn-primary circuloadmin">
                            <img class="imgcirculoadmin" src="semestres.png" >
                        </button>         
                        <h3 class="txtcirculos">Semestres</h3>        
                    </div>
                </div>

        </div>
        </div>
        <footer class="footer">
            <div class="container-footer-all">
                <img src="foot.png" style="position: absolute; width: 100%; height: 15%; bottom: 0;"></img>
            </div>
        </footer>    
    </body>
</html>