<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <link href="http://fonts.cdnfonts.com/css/lexend-deca" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
        <link href="/css/general.css" rel="stylesheet" id="general-css"></link>
		<link href="/css/lst.css" rel="stylesheet" id="general-css"></link>
		<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" >
		<script src="/js/jquery.validate.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dataTables.min.js"></script>
		<script src="/js/dataTables.bootstrap4.min.js"></script>
    </head>
    <body>
    	<div th:replace="fragments/navbar :: nav"></div>
        <div class="container cont1">
				<div class="form-group row titulo" style="margin-bottom: 1.5%;">
					<div class="col-sm-6 coltboton">
						<a th:href="@{/inicio/}" class="btn btn-primary btninvertido">Regresar</a>
					</div>
					<div class="col-sm-6 colttexto">
						<h1>Estudiantes</h1>
					</div>
					<div class="col-sm-6 coltboton">
						<a th:href="@{/estudiante/}" class="btn btn-primary">Agregar</a>  
					</div>
				</div>
				<div class="perfil">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th class="text-center">CÓDIGO</th>
								<th class="text-center">INGRESO</th>
								<th class="text-center">CARRERA</th>
								<th class="text-center">NOMBRES</th>
								<th class="text-center">APELLIDOS</th>
								<th class="text-center">CORREO EDUCATIVO</th>
								<th class="text-center">CORREO PERSONAL</th>
								<th class="text-center">TELÉFONO</th>
								<th class="text-center"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="estudiante: ${listaEstudiantes}">
								<td class="text-center celda"><a th:href="@{'/estudiante/modificar/'}+${estudiante.codigo}" th:text="${estudiante.codigo}"></a></td>
								<td class="text-center celda" th:text="${estudiante.ingreso.getCompleto()}"></td>
								<td class="text-center celda" th:text="${estudiante.carrera.nombre}"></td>
								<td class="text-center celda" th:text="${estudiante.nombres}"></td>
								<td class="text-center celda" th:text="${estudiante.apellidos}"></td>
								<td class="text-center celda" th:text="${estudiante.correoedu}"></td>
								<td class="text-center celda" th:text="${estudiante.correoper}"></td>
								<td class="text-center celda" th:text="${estudiante.telefono}"></td>
								<td class="text-center celda" style="font-size: 12pt;"><a th:href="@{/estudiante/eliminar/?id=}+${estudiante.codigo}"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
							</tr>
						</tbody>
					</table> 	
					<h4 th:text="${mensaje}" class="error"></h4>
				</div>
        </div>
       	<script>$('table').DataTable({ info: false, searching: false, lengthChange: false, pageLength: 5, 
		dom: 't<"pag2"f><"pag"p>', oLanguage: { oPaginate: { sPrevious: "Anterior", sNext: "Siguiente"}} });</script>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>